@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-brand-sand: #EAE2D7;
  --color-brand-sage: #A7BCB0;
  --color-brand-terracotta: #B88B6F;
  --color-brand-olive: #5E6B56;
  --color-brand-cream: #F8F5F1;


}

/* Fallback para garantir que o fundo não é branco puro */
body {
  background-color: #EAE2D7;
  color: #5E6B56;
}